@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path {
  clip-path: polygon(0 1%, 100% 0, 67% 100%, 0% 100%);
    width: 500px;
  }



  /* Add this in your global CSS file or in the CSS-in-JS styling */

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.5s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}


@keyframes loopScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-loop-scroll {
  display: flex;
  animation: loopScroll 10s linear infinite; /* Controls the speed and repetition */
}



  /* Custom styles for smooth transitions */
.home-page {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Smooth transition effect */
}

.home-page.opacity-100 {
  opacity: 1;
}

@keyframes flipDown {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}

.flip-down {
  animation: flipDown 1s ease-in-out forwards;
  transform-origin: top; /* Flip from the top */
}


  